<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %} 
   <h1>register page</h1>
    <h3>first name</h3>
<input type="text" name="first_name">
<h3>middle name</h3>
<input type="text"name="middle_name">
<h3>last name</h3>
<input type="text" name="last_name">
<h3>date of birth</h3>
<input type="date" name="dob">
<h3>email</h3>
<input type="email" name="email">

<button>submit</button>
</form>
</body>
</html>